<html>
<head>
<style type="text/css">
body {
background: #00539F;
color: black;
}
div.container {
width: 600px;
margin: 0 auto;
background-color: #FF9500;
padding: 0 20px 20px 20px;
border: 5px solid black;
}
h4 {
text-transform: uppercase;
}
</style>
</head>
<body>
<div class="container">
<center><h4>Wellcome</h4></center>
<center>
<img src="https://icon2.cleanpng.com/20180527/yis/kisspng-jenkins-continuous-integration-logo-software-testi-5b0a407255c450.0224592715273985143513.jpg" >
</center>
<img src="https://miro.medium.com/max/1400/1*QTmgOmxLr78Ty_evSD_Riw.gif"width="620" 
height="600" >
</div>
</body>
</html>
